# Virtual environments
.venv/
env/
venv/
.venv

# Compile python files
*.pyc
__pycache__/
__pycache__

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# specific OS files
.DS_Store
Thumbs.db
*.swp
*.swo

.vscode/